.tasks-list{
  width: 100%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.task{
  width: 45%;
  min-width: 350px;
  height: fit-content;
  margin: 20px;
  padding: 20px;

  border-radius: 5px;
  background-color: var(--yellow);

  .title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
      font-size: 18px;
      color: var(--dark-gray);
    }

    i{
      font-size: 18px;
      color: var(--light-gray);

      &:hover{
        color: var(--dark-gray);
        transition: 0.3s;
      }

      &:active{
        transform: scale(0.9);
      }
    }
  }

  p{
    margin: 15px 0px;
    line-height: 1.4;
    color: var(--dark-gray);
  }

  .tag-box{
    display: flex;
    justify-content: space-between;

    .task-tags{
      display: flex;
    }

    @media screen and (max-width: 400px) {
      .hide{
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: 400px) {
    margin-top: 0px;
  }
}